@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for ALL browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}